<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <HTML>
        <BODY bgcolor="white">
        <form method="POST" action="">
            <center>
            <H1> Profil Konsumen </H1> <br>
            Nama <input type = "text" name= "name" /> <br>
            Alamat <input type = "text" name = "address" /> <br>
            <input type = "submit">
            </center>
        </form>
        </BODY>
        </HTML>
</body>
</html>